@{
    ViewData["Title"] = "Database Connection";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div id="Top-container">
        <div id="Top">
            <span class='database_icon'></span>
            <span class="top-text">Selected file</span>
            <button type="button" onclick='window.location.href="DatabaseConnection"' class="btn btn-default" data-toggle="tooltip" data-placement="auto" title="Change database"><span class='folder_icon'></span></button>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="Index" Index">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><text>@ViewData["functionalitySelected"]</text> Selection</li>
            </ol>
        </div>
    </div>
</nav>
<div id="middle_container">
    <div id="selection-top" class="centeredBig">
        <h3>
            <span>Table and or columns selection</span>
        </h3>
    </div>
    <div id="accordion" class="overflow-auto centeredBig">
        @foreach (var table in ViewBag.tableData)
        {
            string collapse = "#collapse" + table[0];
            <div class="card">
                <div class="card-header" id="@table[0]">
                    <h5>
                        <input type="checkbox" />
                        <button class="btn btn-link" data-toggle="collapse" data-target="@collapse" aria-expanded="true" aria-controls="collapseOne">
                            @table[0]
                        </button>
                    </h5>
                </div>

                <div id="@collapse.Substring(1)" class="collapse hide" aria-labelledby="@table[0]" data-parent="#accordion">
                    <div class="card-body">
                        @for (int i = 1; i < ((string[])table).Length; i++)
                        {
                            <input type="checkbox" /> <span>@table[i]</span>
                            <br />
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div id="Bottom-container">
        <div id="Bottom">
                <button type="button" class="btn btn-outline-primary">Confirm and run</button>
        </div>
    </div>
</div>